 <!--Content Section-->
 <div id="services" class="scrollto clearfix">

   <div class="row no-padding-bottom clearfix">


     <!--Content Left Side-->
     <div class="col-3">
       <!--User Testimonial-->
       <blockquote class="testimonial text-right bigtest">
         <q>Agile software development refers to a group of software development methodologies based on iterative
           development, where requirements and solutions evolve through collaboration between self-organizing
           cross-functional teams. Below are the most frequently asked questions around Agile and Scrum, answered by our
           experts.</q>
         <footer>— www.cprime.com</footer>
       </blockquote>
       <!-- End of Testimonial-->

     </div>
     <!--End Content Left Side-->

     <!--Content of the Right Side-->
     <div class="col-3">
       <div class="section-heading">
         <h3>BELIEVING</h3>
         <h2 class="section-title">{{header.heading}}</h2>
         <p class="section-subtitle">{{header.headingtext}}.</p>
       </div>
       <p>What is Scrum?<br>
         A Scrum process is distinguished from other agile processes by specific concepts and practices, divided into
         the three categories of Roles, Artifacts, and Time Boxes. These and other terms used in Scrum are defined
         below. Scrum is most often used to manage complex software and product development, using iterative and
         incremental practices. Scrum significantly increases productivity and reduces time to benefits relative to
         classic “waterfall” processes. Scrum processes enable organizations to adjust smoothly to rapidly-changing
         requirements, and produce a product that meets evolving business goals. An agile Scrum process benefits the
         organization by helping it to
       </p>
       <p>How does Agile relate to DevOps?<br>
         While Agile and DevOps started as independent methodological movements, they share a number of traits focused
         on improving the efficiency and speed of teams. As organizations become more Agile and refine their project
         management skill sets, they increasingly depend on technical teams being able to keep pace and maintain a
         certain flexibility.

       </p>
       <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
       <a href="https://www.youtube.com/watch?v=Z9QbYZh1YXY" data-videoid="UYJ5IjBRlW8" data-videosite="youtube"
         class="button video link-lightbox">
         WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
       </a>
     </div>
     <!--End Content Right Side-->

     <div class="col-3">
       <img src="../assets/images/agile-software.jpg" alt="Dancer" />
     </div>

   </div>


 </div>
 <!--End of Content Section-->
